.account-main{
    width: 90%;
    min-height: 80vh;
    margin: auto;
    padding: 10px;
}
.account-main .accountOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}
.account-main  .accountOptions .accountOptionsDiv{
    width: 30%;
    height: 100px;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.account-main  .accountOptions .accountOptionsDiv:hover{
    background-color: rgb(245, 245, 245);
}
.account-main  .accountOptions .accountOptionsDiv:last-child:hover{
    background-color: rgb(255, 204, 204);
}
.account-main  .accountOptions .accountOptionsDiv .optionDivImage{
    width: 28%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.account-main  .accountOptions .accountOptionsDiv .optionDivImage > img{
    width: 70%;
}
.account-main  .accountOptions .accountOptionsDiv .optionDivInfo{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.account-main  .accountOptions .accountOptionsDiv .optionDivInfo > h3{
    font-weight: lighter;
    font-size: 18px;
}
.account-main  .accountOptions .accountOptionsDiv .optionDivInfo > p{
    color: grey;
    font-size: 14px;
    margin-top: 10px;
}

/* ================================================= Login Security ========================== */
.login-section{
    width: 40%;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.login-sec-sec{
    margin-top: 20px;
}
.login-sec-sec-first{
   width: 70%;
   margin: auto;
}
.login-sec-sec-sec{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.login-sec-sec-sec-first{
    display: flex;
    justify-content: space-between;
    width: 100%;
  /* gap: 30px; */
}
.login-sec-third{
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 9px;
    width: 90%;
    margin-left: 5%;
    margin-top: 7%;
    margin-bottom: 5%;
    padding: 10px 13px;
    font-size: 16px;
    text-align: center;
    background-color: #901454;
    color: white;
}
@media screen and (max-width: 768px){
    .login-section{
        width: 90%;
        margin: auto;
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 15px 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .account-main .accountOptions .accountOptionsDiv {
        width: 95%;
    }
    .accountOptions{
        display:grid;
    }    
          
}