.checkout-main-container{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 125px;
}
.checkout-h1{
    color: #3d8e41;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}
.checkout-p{
    font-size: 14px;
    color: #9e9e90;
}
.checkout-link{
    color: #3d8e41;
}

.checkout-input{
    width: 60%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 30px;
}

.checkout-input>div>input{
    border: 1.5px solid #9e9e90;
    border-radius: 10px;
 width: 90%;
 padding: 15px 15px;

}

.checkout-input>div>input::placeholder{
  color: #9e9e90;
  font-size: 13px;
}

.checkout-area{
    height: 100px;
    width: 60%;
    margin-top: 30px;
    border-radius: 10px;
}

.checkout-area>textarea{
    border-radius: 10px;
    padding: 10px 20px;
  width: 94%;
  height: 100%;
}

.check-payment{
    margin-top: 60px;
}

.check-end{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.checkout-select>div{
    display: flex;
    gap: 20px;
    align-items: center;
}
.checkout-select>div>input[type="radio"]{
   height: 30px;
   width: 30px;
}
.checkout-select>div>div{
    display: flex;
        width: 16%;
        height: 55px;
        align-items: center;

}
.checkout-select>div>div>img{
    width: 100%;
    object-fit: contain;
}

.select-society{
    height: 40px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d8e41;
        padding: 0px 15px;
        color: #ffff;
        margin-top: 30px;
}

.society-dropdown{
    border-radius: 10px;
    margin-top: 4px;
    width: 94%;
    padding: 20px;
    border: 1px solid #9e9e90;
}

.society-dropdown>p{
    cursor: pointer;
    border-radius: 10px;
    width: 80%;
    margin: 10px 10px;
    padding: 10px 15px;
}

.society-dropdown>p:hover{
  background-color: #3d8e41;
  color: #ffff;
}

.cart-btn1{
    width: 100%;
    margin: auto;
    color: #ffff;
    font-size: 20px;
    background-color: #3d8e41;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    margin-top: 30px;
    margin-bottom: 40px;
}

@media (max-width:768px){
    .checkout-main-container {
        padding-left: 20px;
    }
    .checkout-h1 {
        font-size: 25px;
    }

    .checkout-input {
        grid-template-columns: repeat(1, 1fr);
 }
 .checkout-input {
    width: 90%;
 }
 .checkout-area {
    height: 50px;
    width: 78%;
 }

 .checkout-area>textarea {
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
 }

 .check-end {
    width: 90%;
    margin: auto;
    flex-direction: column;
 }
 .check-payment {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
}