

.footer-container{
    background-color: #4a9dd1;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;
}

.footer-sec-1{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-logo{
    width: 20%;
    height: 100px;
    background-color: white;
}

.footer-content-link{
    width: 30%;
}

.footer-email{
    width: 30%;
}

.footer-page-link{
    display: flex;
    column-gap: 30px;
}

.footer-page-link-p{
    text-decoration: none;
    color: #ffff;
}

.footer-page-link-p>p{
    font-size: 16px;
    font-weight: 500;
  margin-top: 4px;
  margin-bottom: 0px;
}

.folow-us{
    text-align: center;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.all-social-link{
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}

.footer-border{
    border: 1px solid rgb(210, 204, 204);
    margin-top: 30px;
    margin-bottom: 30px;
}

.copy-right-div{
    color: #ffff;
    font-size: 20px;
    margin-left: 20px;
}

.footer-email-1{
    display: flex;
    /* justify-content:; */
    gap: 40px;
}
.footer-email-1>div{
  margin-top: 20px;
  /* margin-: 20px; */
}
.footer-email-1-image{
    width: 10%;
    height: 30px;
    border-radius: 50%;
    background-color: #ffff;
    padding: 10px;
}
.footer-email-1-image>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-email-1-content{
    text-align: left;
    color: #ffff;
}


@media (max-width:768px){
    .footer-sec-1 {
        flex-direction: column;
        }
        .footer-logo {
          width: 100%;
        }
        .footer-content-link {
            margin-top: 30px;
            width: 100%;
        }

        .footer-email {
            width: 100%;
            margin-top: 30px;
        }

        .copy-right-div {
            color: #ffff;
            font-size: 18px;
            margin-left: 0px;
            text-align: center;
        }
}