/* #dbeac5
#3d8e41 */

.header-section{
    position: relative;
    width: 100%;
    height: 477px;
    background-image: url(../Assets/Navbar/header.png);
}
.header-content{
    position: absolute;
    top: 10%;
    width: 50%;
   margin-left: 130px;
    text-align: left;
}

.header-p{
    font-weight: 900;
    font-size: 56px;
    color: #ffff;
}
.repu-p{
    width: 70%;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}
.header-btn{
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    background-color: #3d8e41;
}

.choose-categories-1{
    width: 100%;
    background-color: #f5f5db;
    padding-top: 50px;
    padding-bottom: 50px;
}

.choose-content{
    width: 80%;
    margin: auto;
}
.choose-heading h3{
   font-weight: 600;
   font-size: 20px;
}
.choose-heading h2{
    font-weight: 800;
    font-size: 35px;
    color: #3d8e41;
    margin-top: 5px;
    margin-bottom: 30px;
 }
.choose-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
    color: #3d8e41;
    font-size: 24px;
    font-weight: 500;
}
.product-categories-1{
    position: relative;
    width: 100%;
    background-color: #ffff;
      padding-top: 50px;
    padding-bottom: 50px;
    overflow-y: hidden;
}
.product-append{
   
    width: auto;
    overflow:scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: left;
    color: #3d8e41;
    font-size: 24px;
    font-weight: 500;
    padding-left: 20px;
}
.product-image {
 
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center; 
  align-items: center;
    overflow: hidden;
    margin-top: 30px;
    padding: 15px;
    transition: all 0.5s ease; /* Smooth transition */
  }
  
  .product-image img {
    transition: transform 0.3s ease; /* Smooth transition for image */
  }
  
  .product-image:hover {
    transform: translateZ(40px); /* Move the div closer to the user */
    /* box-shadow: 20px 0 30px -5px gray, -20px 0 30px -5px gray; Shadow on hover */
  }
  
  .product-image:hover img {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
  }
  .off-div{
  position: absolute;
  right: 12px;
    background-color: #dbeac5;
    color: #3d8e41;
    padding: 6px 12px;
    text-align: center;
    display: flex;
 font-size: 12px;
    justify-content: end;
    align-items: center;
    border-radius: 6px;
  }
.product-append>div{
    position: relative;
    border-radius: 20px;
    border: 1px solid #3d8e41;
    padding: 10px;
    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
    box-shadow: 7px 0 2px -5px gray, -7px 0 2px -5px gray;
}
.p-span{
    font-size: 14px;
    font-weight: 400;
    color: red;
    text-decoration: line-through;
    margin-right: 10px;
}
.productname-size{
    font-size: 20px;
    font-weight: 600;
}
.product-last-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product-btn{
    border: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 15px;
    color:#3d8e41;
    background-color: #dbeac5;
    cursor: pointer;
}

.product-btn:hover{
    background-color: #3d8e41;
    color: #ffff;
}
.cart-icon-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    border-radius: 90%;
    background-color: #dbeac5;
    padding: 7px 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cart-icon-div1>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease;
}
.cart-icon-div1:hover{
    background-color: #3d8e41;
   
}
.cart-icon-div1:hover img {
    filter: brightness(0) invert(1); /* Make the image white */
  }

  .product-categories-2{
    background-color: #f5f5db;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
.product-description{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 20px;
}
  .product-desc-1{
    border-radius: 20px;
    padding: 27px 20px;
    background-color: #dec2ff;
  }

  .product-desc-2{
    border-radius: 20px;
    padding: 27px 20px;
    background-color: #b4edb8;
  }

  .product-desc-3{
    border-radius: 20px;
    padding: 27px 20px;
    background-color: #abddf4;
  }

  .img-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .header-btn1{
    border: none;
    border-radius: 40px;
    padding: 5px 10px;
    color: #ffff;
    font-size: 12px;
    background-color: #3d8e41;
}
  .img-btn1{
   width: 50%;
  }
  .descr-p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    width: 80%;
  }
  .img-btn2{
    width: 50%;
   }

   .img-btn2>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   }

   @media (max-width:768px){
    .header-section {
      position: relative;
      width: 100%;
      height: 311px;
  }
  .choose-heading h2 {
    font-weight: 800;
    font-size: 32px;
  }
  .header-content {
      width: 100%;
      margin: auto;
      text-align: center;
  }
  .product-append {
   flex-direction: column;
   row-gap: 20px;
  }
  .product-description {

    flex-direction: column;
  }
  .choose-image {
   flex-direction: column;
  }
  .header-p {
      font-weight: 900;
      font-size: 26px;
      color: #ffff;
  }
  .repu-p {
      width: 100%;
  }
   }