/* #dbeac5
#3d8e41 */

.navbar-container{
    position: relative;
    width: 100%;
    background-color: #f5f5db;
}

.navbar-main{
    width: 80%;
    margin: auto;
    padding: 20px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;

}

.option-div{
    border: 1.5px solid #3d8e41;
    border-radius: 28px;
    display: flex;
}
.option-div-select{
    padding: 10px 20px;
    background-color: #f5f5db;
}
.option-div-1{
    border-right: 1.5px solid #3d8e41;
}
.option-div-input{
    height: 57%;
    outline: none;
    border: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 10px 20px;
    background-color: #f5f5db;
}
.option-div-2{
    display: flex;
    padding-left: 10px;
}
.drop-down{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(128, 128, 128, 1);
}
.io-search{
    background-color: #3d8e41;
    border-radius: 50%;
    padding: 10px ;
    font-size: 24px;
    color: #ffff;
}

.wish-cart-div{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.wish-cart-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.wish-cart-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.link-nav-btn{
    text-decoration: none;
}
.cart-icon-div{
    border-radius: 50%;
    background-color: #dbeac5;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.cart-icon-div>img{
    transition: all 0.3s ease;
}
.cart-icon-div:hover{
    background-color: #3d8e41;
   
}
.cart-icon-div:hover img {
    filter: brightness(0) invert(1); /* Make the image white */
  }
.cart-zero{
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: -11%;
    color: #ffff;
    font-size: 10px;
    background-color: #3d8e41;
    left: 61%;
    right: 12%;
}

.navbar-end{
    width: 100%;
    background-color: #3d8e41;
}
.show-categories144{
position: absolute;
top: 144px;
left: 510px;
width: 14%;
background-color: #ffff;
padding: 10px;
border-radius: 15px;
z-index: 9999;
}
.navbar-end-content{
    width: 80%;
   margin: auto;
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.first-drop-arrow{
    width: 16%;
    padding: 0px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5db;
   
    border-radius: 8px;
}
.first-drop-arrow p{
    font-size: 12px;
    font-weight: 600;
}
.second-drop-arrow{
    display: flex;
  margin: 10px 20px;
  align-items:center;

}

.second-div-content{
    width: 63%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
}

.second-div-content p{
    font-weight: 600;
    font-size: 20px;
    color: #ffff;
  
}

.show-categories{
    position: absolute;
    top: 140px;
    left: 120px;
    width: 14%;
    background-color: #ffff;
    padding: 10px;
    border-radius: 15px;
    z-index: 9999;
    /* transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    animation:; */
}
.home-ppp{
    text-decoration: none;
    color: #ffff;
}
.cart-link1{
    text-decoration: none;
    color: black;
}
.cart-link{
    text-decoration: none;
    color: black;
    margin: 10px 0px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: 10px 20px 10px 20px;
}
.header-logout-btn{
    padding: 10px 20px;
    background-color: #dbeac5;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.show-categories11{
    position: absolute;
    top: 140px;
    left: 500px;
    width: 14%;
    background-color: #ffff;
    padding: 10px;
    border-radius: 15px;
    z-index: 9999;
}
.show-categories1{
    display: flex;
    column-gap: 20px;
    align-items: center;
  

}
.categ-p{
    font-size: 12px;
    font-weight: 600;
}
.cate-img{
    border-radius: 50%;
    width: 14%;
}

.cate-img>img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@media (max-width:768px){
    .second-div-content1{
        width: 100%;
        position: absolute;
        top: -40%;
        display: flex;
        padding-bottom: 20px;
        flex-direction: column;
        row-gap: 15px;
        background-color: #f5f5db;
        z-index: 8888;
    }
    .show-categories111{
        /* position: absolute; */
        width: 50%;
        padding: 10px;
        border-radius: 15px;
        z-index: 9999;
    }
    .show-categories {
        position: absolute;
        top: 216px;
        left: 34px;
        width: 56%;
    }
    .navbar-main {
        width: 90%;

    }
    .first-drop-arrow{
        width: 65%;
    }
    .navbar-mobile{
        margin-bottom: 13px;
        display: flex;
        justify-content: space-between;
    }
 
    .option-div{
        width: 100%;
    }
    .option-div-1 {
        width: 50%;
    }
    .navbar-end-content {
    justify-content: space-between;
    }
    .option-div-2 {
        border-left: 1.5px solid #3d8e41;
        width: 50%;
        justify-content: space-between;
    }
    .navbar-end {
        padding: 10px 0px;
    }
    .wish-cart-div{
        padding-right: 20px;
        width: 25%;
    }
    .wish-cart-1 {
        flex-direction: column;
        gap: 0px;
    }
    .wish-cart-2 {
        flex-direction: column;
        gap: 0px;
        margin-top: -4px;
    }
    .navbar-main{
        flex-direction: column;
    }
}
