.lOrder-main{
    width: 95%;
    margin: auto;
  }
  .iOrder-details-p5{
    display: none;
  }
  .mOrder-first-section{
    width: 70%;
    margin: auto;
    justify-content: space-between;
    display: flex;
  }
  .popup {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .option-selector{
    width: 50%;
    margin: auto;
      display: flex;
      margin-top: 30px;
      gap: 30px;
  }

  .option-selector>button{
    width: 100%;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background-color: #ffff;
    cursor: pointer;
  }
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  select {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    cursor: pointer;
  }
  .pop-btn {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
  }
  .mOrder-first-input>div{
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 4px;
  }
  .mOrder-first-input>div>input{
    border-radius: 7px;
    padding: 5px 5px;
    border: none;
    outline: none;
    margin: 0px;
  }
  
  .kOrder-sec-two{
    width: 65%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    column-gap: 20px;
  }
  .kOrder-sec-two-p{
    margin-left: 10px;
    margin-right: 10px;
  }
  .bOrder-border{
    width: 70%;
    margin: auto;
    border: 1px solid grey;
  }
  
  .iOrder-detail-main{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
    /* border: 1px solid rgb(81, 78, 78); */
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
    height: auto; /* Ensure height is auto */
  }
  .iOrder-detail-main>div{
    border: 1px solid rgb(209, 207, 207);
    border-radius: 10px;
  
  }
  .iOrder-first-sec{
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    background-color: rgb(227, 230, 232);
  }
  .iOrder-first-sec-first{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
  
  .iOrder-details-sec-sec{
    margin: 10px;
  }
  .iOrder-details-sec-sec>h1{
    font-weight: lighter;
    font-size: 25px;
  }
  
  .iOrder-details-sec-third{
    border-radius: 10px;
    width: 98%;
    display: flex;
    column-gap: 20px;
    height: auto; /* Ensure height is auto */
  }
  .iOrder-details-sec-third-first{
    width: 20%;
  }
  .iOrder-details-sec-third-first>img{
    width: 100%;
    height: 130px; /* Adjust to auto */
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
  }
  .iOrder-details-sec-third-second{
    width: 60%;
    max-width: 50%;
  }
  .iOrder-details-sec-third-second>p{
    padding-top: 2px;
  }
  .iOrder-details-sec-third-third{
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  
  .iOrder-b2{
    border: 1px solid transparent;
    background-color: #b44700;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px 0px;
    padding: 4px 10px;
  }
  .bOrder-button{
    display: flex;
    width: 100%;
    gap: 10px;
  }
  .iOrder-b1{
    border: 1px solid transparent;
    background-color: #b44700;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0px;
    font-weight: 550;
    padding: 4px 10px;
  }
  .iOrder-b2:hover{
    outline: 2px solid #720f42;
    background-color: transparent;
    color: rgb(0, 0, 0);
    margin: 5px 0px;
    padding: 4px 10px;
  }
  .iOrder-b1:hover{
    outline: 2px solid #720f42;
    background-color: transparent;
    color: rgb(0, 0, 0);
    margin: 5px 0px;
    padding: 4px 10px;
  }
  .iOrder-details-p{
    display: none;
  }
  .iOrder-details-p1{
    display: block;
  }
  .iOrder-b1{
    display: block;
  }
  .iOrder-t-h1{
    display: block;
  }
  @media screen and (max-width: 768px){
    .popup{
      width: 100%;
      padding: 0px 20px;
    }
    .option-selector {
        width: 90%;
    }
    .option-selector>button {
        font-size: 15px;
    }
    .iOrder-b{
      border: none;
      background-color: #b44700;
      color: white;
      border-radius: 5px;
      font-size: 11px;
      font-weight: bold;
      cursor: pointer;
      margin: 5px 5px;
      padding: 3px 6px;
    }
    .iOrder-b3{
      border: none;
      background-color: #b44700;
      color: white;
      border-radius: 5px;
     cursor: pointer;
     font-size: 11px;
     font-weight: bold;
      margin: 5px 5px;
      padding: 3px 6px;
    }
    .iOrder-details-p5{
      display: block;
    }
    .iOrder-t-h1{
      display: none;
    }
    .iOrder-details-sec-third-first>img{
      width: 100%;
      height: 90px; /* Adjust to auto */
      object-fit: cover;
      object-position: top;
      border-radius: 10px;
    }
    .lOrder-main-ee{
      display: none;
    }
    .iOrder-details-h1{
      display: none;
    }
    .bOrder-button{
      display: none;
    }
    .mOrder-first-input>div{
      border: 1px solid black;
      border-radius: 7px;
      display: flex;
      flex-direction: row;
    }
    .mOrder-first-input>div>input{
      width: 100%;
      border-radius: 7px;
      padding: 5px 5px;
      border: none;
      outline: none;
      margin: 0px;
    }
    .mOrder-first-section{
      display: block;
      width: 95%;
      margin-top: 10px;
    }
    .mOrder-h1{
      width: 100%;
    }
    .mOrder-h1>h1{
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight:bold;
      margin-bottom: 20px;
      text-align: center;
    }
    .kOrder-sec-two{
      display: flex;
      flex-direction: row;
      width: 90%;
      margin: auto;
      margin-top: 30px;
      margin-left: -2%;
    }
    .kOrder-sec-two-p{
      white-space: nowrap;
      font-size: 14px;
      padding: 0px;
    }
    .bOrder-border{
      width: 84%;
      margin: auto;
      border: 1px solid grey;
    }
    .iOrder-detail-main{
      width: 90%;
      /* border: 1px solid rgb(81, 78, 78); */
      border-radius: 10px;
      margin: auto;
      margin-top: 15px;
      height: auto; /* Ensure height is auto */
    }
    .iOrder-first-sec{
      display: none;
    }
    .iOrder-first-sec-first{
      display: flex;
      flex-direction: row;
      column-gap: 2px;
    }
    .iOrder-details-sec-sec{
      margin: 4px;
    }
    .iOrder-details-sec-sec>h1{
      font-weight: 500;
      font-size: 15px;
    }
    .iOrder-details-p{
      display: block;
    }
    .iOrder-details-p1{
      display: none;
    }
    .iOrder-details-sec-third-first{
      width: 30%;
      height: auto; /* Adjust to auto */
    }
    .iOrder-details-sec-third-second{
      width: 90%;
    }
    .iOrder-details-sec-third-third{
      display: none;
    }
    .iOrder-pp{
      display: none;
    }
    .iOrder-b2{
      width: 100%;
      border: 1px solid transparent;
      background-color: #3d8e41;
      color: white;
      border-radius: 5px;
      font-weight: 500;
      font-size: 13px;
      cursor: pointer;
      margin: 5px 0px;
      padding: 4px 1px;
    }
    .iOrder-b1{
      display: none;
    }
    .iOrder-details-p5{
      width: 100%;
      font-size: 14px;
      color: gray;
    }
    .iOrder-details-sec-third{
      border-radius: 10px;
      margin: auto;
      width: 98%;
      display: flex;
      margin-bottom: 5px;
      column-gap: 20px;
      height: auto; /* Ensure height is auto */
    }
  }