.login-main{
    border: 1px solid rgb(177, 172, 172);
    border-radius: 10px;
    padding-top: 3px;
    width: 40%;
    margin: auto;
    margin-top: 10px;
}
.userdpdiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(205, 200, 200);
    padding-bottom: 5px;
}
.userdpdiv > div{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.userdpdiv >  div > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.userdpdiv > div > .choosefilemessage{
    position: absolute;
    top: 34%;
    font-size: 11px;
    left: 53%;
    background-color: rgb(116, 116, 116);
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}
.userdpdiv > div > button{
    background-color: #901454;
  color: white;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: lighter;
  padding: 6px 12px;
  cursor: pointer;
}
.userdpdiv > div > button:hover{
    background-color: transparent;
    color: black;
    transition: 0.3s ease-in-out;
    outline: 2px solid #901454;
}
.login-main-first{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(205, 200, 200);
    padding: 10px;
}
.login-main-first .login-main-first-first{
    width: 70%;
}
.login-main-first .login-main-first-second{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
}
.login-main-first>.login-main-first-first>label{
   font-weight: 550;
}
.login-main-first>.login-main-first-first>p{
    margin-bottom: 10px;
    margin-top: 10px;
}
.login-main-first .login-main-first-second{
    cursor: pointer;
    border: 1px solid transparent;
   border-radius: 6px;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   padding: 2px 5px;
   width: 40%;
   background-color: white;
   height: 30px;
   text-align: center;
}
.login-main-h1{
    font-weight:"lighter";
    width:40%;
    margin:auto;
    margin-top: 4%;
    font-size:22px;
    text-align: center;
    margin-bottom: 40px;
}
@media screen and (max-width: 768px){
    .login-main{
        border: 1px solid rgb(177, 172, 172);
        border-radius: 10px;
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .login-main-h1{
        width: 45%;
        margin: auto;
        font-size: 25px;
        font-weight:bold;
        margin-bottom: 0px;
        margin-top:30px;
    }
    .userdpdiv > div > .choosefilemessage{
        top: 20%;
        font-size: 10px;
        left: 60%;
        padding: 2px 4px;
    }
};