*{
  padding: 0px;
  margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Matimo:wght@400&display=swap');

h1,h2,h3 {
  font-family: 'Matimo', sans-serif;
}
p {
  font-family: 'Matimo', sans-serif;
  font-weight: 400;
}

.spinner-container {
  /* width: 20%;
  margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.error-message {
  text-align: center;
  color: red;
  font-size: 18px;
}
